<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>

    <!-- User Details  -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/default-avatar.jpg">
            </div>
            <div class="col-md-6">
                <div class="table-responsive my-3">
                    <table class='table'>
                        <thead>
                            <td></td>
                            <td></td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Employee Id : </td>
                                <td>{{userDetails.id}}</td>
                            </tr>
                            <tr>
                                <td>Employee Name : </td>
                                <td>{{userDetails.name}}</td>
                            </tr>
                            <tr>
                                <td> Email : </td>
                                <td>{{userDetails.email}}</td>
                            </tr>
                            <tr>
                                <td> Location : </td>
                                <td>{{userDetails.location}}</td>
                            </tr>
                            <tr>
                                <td> Position : </td>
                                <td>{{userDetails.position}}</td>
                            </tr>
                            <tr>
                                <td> Gender : </td>
                                <td>{{userDetails.gender}}</td>
                            </tr>
                            <tr>
                                <td>Skills :</td>
                                <td>{{userSkill.name}}</td>
                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        
    </div>
</div>
<nav class='navbar navbar-expand navbar-light big-light'>
    <!-- <a class= 'navbar-brand'>{{pageTitle}}</a> -->
    <ul class='nav nav-pills'>
        <!-- <li><a class='nav-link' routerLink="/user">Home</a></li> -->

        <li><a class='nav-link' [routerLink]="['/user', userDetails.id]">Personal Details</a></li>
        <li><a class='nav-link' [routerLink]="['/skills', userDetails.id]">Skills</a></li>

    </ul>
</nav>