
<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body" *ngIf="user" >
        <div class="row">
        <div class="col-md-6">
            <img src="assets/default-avatar.jpg">
        </div>
        <div class="col-md-6">
            <div class="table-responsive my-3" >
            <table class ='table'>
                <thead>
                    <td></td>
                    <td></td>
                </thead>
                <tbody>
                    <tr>
                        <td>Employee Id : </td>
                        <td>{{user.id}}</td>
                    </tr>
                    <tr>
                        <td>Employee Name : </td>
                        <td>{{user.name}}</td>
                    </tr>
                    <tr>
                        <td> Email : </td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td> Location : </td>
                        <td>{{user.location}}</td>
                    </tr>
                    <tr>
                        <td> Position : </td>
                        <td>{{user.position}}</td>
                    </tr>
                    <tr>
                        <td> Gender : </td>
                        <td>{{user.gender}}</td>
                    </tr>
                    
                    

                </tbody>
            </table>
            </div>
            </div>
            </div>

            <div class="row mt-6">
                <form [formGroup]="userForm">
                    <h6 class="text-secondary fst-italic mt-6">Personal Information</h6>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <h6 class="text-secondary fst-italic mt-6">Name</h6>
                            <input type="text" class="form-control" placeholder="name" formControlName="name">
                        </div>
                        <div class="col-md-6">
                            <h6 class="text-secondary fst-italic mt-6">Gender</h6>
                            <input type="text" class="form-control" placeholder="gender" formControlName="gender" value={{user.gender}}>
                        </div>
                        
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <h6 class="text-secondary fst-italic mt-6">Position</h6>
                            <input type="text" class="form-control" placeholder="position" formControlName="position" value={{user.position}}>
                        </div>
                        <div class="col-md-6">
                            <h6 class="text-secondary">Location</h6>
                        <select  class="form-select" formControlName="location">
                            <option value="default" selected>Select your Location</option>
                            <option *ngFor="let option of locationOptions; let i = index;" value="{{i}}">
                                 {{option | titlecase}}
                            </option>
                        </select>
                        </div>
                        <div class="row mt-3" >
                            <div class="col">
                                <h6 class="text-secondary">Password</h6>
                                <input type="text" class="form-control" placeholder=" Password" formControlName="pwd" value={{user.password}}>
                            </div>
                            <div class="col">
                                <h6 class="text-secondary">Confirm Password</h6>
                                <input type="text" class="form-control" placeholder=" Confirm Password" formControlName="rpwd">
                            </div>
                            <div class="col">
                                <h6 class="text-secondary">Skill Id</h6>
                                <input type="text" class="form-control" placeholder=" skill" formControlName="skill">
                            </div>
                        </div>
                    </div>
                
                </form>
            </div>
    </div>
    
    
  
    <div class="row">

 
        <div class="col-md-10">
        <button  type="button" class="btn btn-primary"
         style="width: 80px;"
         (click)='onBack()' >
        <i class="fa fa-chevron-left"></i>Back
        </button>
    </div>
    <div class="col-md-2" *ngIf="user" >
        <button type="button" class="btn btn-primary" (click)="updateUser(user.id)">Save Changes</button>
    </div>

    </div>
</div>



